<section class="hero">
    <div class="hero__inner">
        <div class="hero__card">
            <div class="hero__avatar">
                <img src="static/images/profile.webp" alt="mr. bartmann" class="mask-squircle">
            </div>
            <h1 class="hero__name">Sebastian Bartmann</h1>
            <p class="hero__text">
                My main goal is improving communication between different agents over the internet.
            </p>
            <p class="hero__text">
                Mood:
                <a class="hero__tag hero__tag--gradient" href="https://www.youtube.com/watch?v=uKsyE3y1bVw" target="_blank">
                    click me
                </a>
            </p>
            <p class="hero__text">
                <a class="hero__tag hero__tag--plain" href="https://www.youtube.com/watch?v=xBAbSsPFTcY" target="_blank">
                    "the internet is the new new world" - Balaji
                </a>
            </p>
        </div>

        <div class="hero__lists">
            <div class="hero__list">
                <h3 class="hero__list-title">Cool Tech</h3>
                <ul class="hero__list-items">
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://htmx.org/essays/hateoas/">HATEOAS
                    </a>
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://htmx.org/">HTMX</a>
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://cloud.google.com/">GCP</a
                        >
                    </li>
                    <li>
                        <a class="link"
                           target="_blank"
                           rel="noreferrer"
                           href="https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki">BIP32</a
                        >
                    </li>
                </ul>
            </div>
            <div class="hero__list">
                <h3 class="hero__list-title">Interesting Newsletters</h3>
                <ul class="hero__list-items">
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://danielmiessler.com/"
                        >Daniel Miessler</a
                        >
                    </li>
                    <li>
                        <a
                                class="link"
                                target="_blank"
                                rel="noreferrer"
                                href="https://substack.com/profile/142426994-arthur-hayes">Arthur Hayes</a
                        >
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://stratechery.com/"
                        >Stratechery</a
                        >
                    </li>
                    </ul>
            </div>
            <div class="hero__list">
                <h3 class="hero__list-title">Awesome Podcasts</h3>
                <ul class="hero__list-items">
                     <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://www.youtube.com/DwarkeshPatel/"
                        >Dwarkesh Patel</a
                        >
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://hiddenforces.io/"
                        >Hidden Forces</a
                        >
                    </li>
                 </ul>
            </div>
        </div>
    </div>
</section>
