<div class="grid content-center">
    <div class="text-center mx-auto">
        <div class="max-w-md mx-auto p-6 flex flex-col items-center">
            <div class="mt-12 avatar drop-shadow-2xl">
                <div class="relative w-36 h-36">
                    <img src="static/images/profile.webp" alt="mr. bartmann" class="mask-squircle w-full h-full object-cover">
                </div>
            </div>
            <h1 class="text-3xl p-8 font-bold">Sebastian Bartmann</h1>
            <p class="py-4">
                My main goal is improving communication between different agents over the internet.
            </p>
            <p class="py-4">
                Mood: <a
                    class="p-1 rounded bg-gradient-to-r italic hover:underline from-blue5 via-purple4 to-red4 text-white"
                    href="https://www.youtube.com/watch?v=uKsyE3y1bVw"
                    target="_blank"
            ><span>click me</span>
            </a>
            </p>
            <p class="py-4">
                <a
                    class="p-1 rounded italic text-black"
                    href="https://www.youtube.com/watch?v=xBAbSsPFTcY"
                    target="_blank"
            ><span>"the internet is the new new world" - Balaji</span>
          
            </a>
            </p>

        </div>

        <div class="justify-center flex flex-wrap">
            <div class="min-w-[200px] m-8">
                <h3 class="text-xl font-bold text-left">Cool Tech</h3>
                <ul class="list-disc list-inside text-left">
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://htmx.org/essays/hateoas/">HATEOAS
                    </a>
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://htmx.org/">HTMX</a>
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://cloud.google.com/">GCP</a
                        >
                    </li>
                    <li>
                        <a class="link"
                           target="_blank"
                           rel="noreferrer"
                           href="https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki">BIP32</a
                        >
                    </li>
                </ul>
            </div>
            <div class="min-w-[200px] m-8">
                <h3 class="text-xl font-bold text-left">Interesting Newsletters</h3>
                <ul class="list-disc list-inside text-left">
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://danielmiessler.com/"
                        >Daniel Miessler</a
                        >
                    </li>
                    <li>
                        <a
                                class="link"
                                target="_blank"
                                rel="noreferrer"
                                href="https://substack.com/profile/142426994-arthur-hayes">Arthur Hayes</a
                        >
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://stratechery.com/"
                        >Stratechery</a
                        >
                    </li>
                    </ul>
            </div>
            <div class="min-w-[200px] m-8">
                <h3 class="text-xl font-bold text-left">Awesome Podcasts</h3>
                <ul class="list-disc list-inside text-left">
                     <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://www.youtube.com/DwarkeshPatel/"
                        >Dwarkesh Patel</a
                        >
                    </li>
                    <li>
                        <a class="link" target="_blank" rel="noreferrer" href="https://hiddenforces.io/"
                        >Hidden Forces</a
                        >
                    </li>
                 </ul>
            </div>
        </div>
    </div>
</div>
