{% extends 'base.html' %}

{% block title %}bartmann.xyz{% endblock %}

{% block content %}
<div class="m-4 text-blue">
    <h1 class="text-4xl">Projects</h1>
    <a href="/" class="text-sm"><u>back home</u></a>
    <ul class="m-4 list-disc">
        <li class="m-4">
            <div>
                <a href="https://redsummit.dev/projects/weekly-median-apartment-price/" class="text-blue"><u>Weekly median apartment
                    prices in
                    vienna</u><span
                        class="text-xs"> - published on: 13.03.2023</span></a>
                <p class="text-sm my-2">Crawled directly from apartment listings, twice a week. No filter, just the median.</p>
            </div>
        </li>
        <li class="m-4">
            <div>
                <a href="https://redsummit.dev/projects/building-nostr-client" class="text-blue"><u>custom nostr client</u><span
                        class="text-xs"> - published on: 07.05.2023</span></a>
                <p class="text-sm my-2">Curious about nostr, hating all existing clients... <br>Since it's a very simple protocol why not
                    built my own client?!</p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}