{% extends 'base.html' %}

{% block title %}bartmann.xyz{% endblock %}

{% block content %}

{% include 'blog/partials/header.html' %}

<main class="blog-page">
    <div class="blog">
        {% include 'blog/partials/overview.html' %}
    </div>

    <div class="blog-page__bottom">
        <div class="spacer blog__spacer"></div>
        <div class="blog blog--light">
            {% include 'blog/partials/linebars.html' %}
        </div>
    </div>
</main>

{% include 'blog/partials/footer.html' %}

{% endblock %}
