<div class="min-h-full py-24 flex items-center p-4">
	<div class="max-w-4xl mx-auto" id="bluelake">
		<div
			class="bg-gradient-to-br from-blue2 to-blue3 drop-shadow-2xl rounded-2xl border border-blue3 flex flex-wrap lg:flex-nowrap"
		>
			<div class="lg:basis-3/4">
				<div class="m-8">
					<div class="flex flex-row items-center">
						<img src="static/images/bluelake.webp" alt="" class="aspect-auto w-16 rounded" />
						<span class="p-4">Webdesign from Vienna</span>
					</div>
					<h2 class="my-6 text-2xl font-bold">Bluelake Webdevelopment</h2>
					<p class="my-6">
						I founded Bluelake in 2016 to help small and medium-sized businesses with their online
						presence. Through this, I learned many things and realized that it's difficult in the
						fast-paced online world to use the latest technologies and be profitable at the same
						time. Technical debt is often underestimated. That's why I have developed a love-hate
						relationship with WordPress. It's backwards compatible and therefore full of technical
						debt, but also stable and effective for small and medium-sized businesses.
					</p>
					<!-- svelte-ignore security-anchor-rel-noreferrer -->
					<a
						target="_blank"
						href="https://bluelake.at"
						class="bg-blue5 border border-blue8 text-blue1 hover:bg-blue4 btn">Visit Website</a
					>
				</div>
			</div>
			<div class="lg:basis-1/4 p-2 flex flex-wrap m-2">
				<div class="card w-52 max-h-36 bg-blue1 m-4">
					<div class="card-body">
						<p class="">started in</p>
						<p class="font-bold text-5xl">2016</p>
					</div>
				</div>
				<div class="card w-52 max-h-36 bg-blue1 m-4">
					<div class="card-body">
						<p class="">with focus on</p>
						<p class="font-bold text-3xl">WordPress</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
