<header>
    <div class="navbar bg-mainred text-white">
        <div class="navbar-start">
            <a href="/" class="normal-case px-4">bartmann.xyz</a>
        </div>
        <div class="navbar-end">
            <div class="text-white px-4 focus:outline-none">
                <a href="/projects" class="normal-case">Projects</a>
            </div>
            <div class="text-white px-4 focus:outline-none">
                <a href="/blog" class="normal-case">Blog</a>
            </div>
        </div>
    </div>
</header>