<div class="linebars">
    <div class="linebars__grid">
        <div class="linebars__spacer"></div>
        <div class="linebars__stack">
            <a class="linebar linebar--c1"
               href="https://search.brave.com/images?q=cute%20cat%20pics&source=web"
               style="width:53%"
               target="_blank"
               rel="noopener noreferrer">
                <span class="linebar__text">joy</span>
            </a>
            <a class="linebar linebar--c2"
               href="https://brenebrown.com/book/daring-greatly/"
               style="width:61%"
               target="_blank"
               rel="noopener noreferrer">
                <span class="linebar__text">vulnerability</span>
            </a>
            <a class="linebar linebar--c3"
               href="https://en.wikipedia.org/wiki/Prudence"
               style="width:74%"
               target="_blank"
               rel="noopener noreferrer">
                <span class="linebar__text">prudence</span>
            </a>
            <div class="linebar linebar--c4" style="width:95%">
                <span class="linebar__text">honesty</span>
            </div>
        </div>
    </div>
</div>
