<div class="linebars">
    <div class="linebars__grid">
        <div class="linebars__spacer"></div>
        <div class="linebars__stack">
            <div class="linebar linebar--c1" style="width:53%">
                <a href="https://search.brave.com/images?q=cute%20cat%20pics&source=web" target="_blank">
                    <span class="linebar__text">joy</span>
                </a>
            </div>
            <div class="linebar linebar--c2" style="width:61%">
                <a href="https://brenebrown.com/book/daring-greatly/" target="_blank">
                    <span class="linebar__text">vulnerability</span>
                </a>
            </div>
            <div class="linebar linebar--c3" style="width:74%">
                <a href="https://en.wikipedia.org/wiki/Prudence" target="_blank">
                    <span class="linebar__text">prudence</span>
                </a>
            </div>
            <div class="linebar linebar--c4" style="width:95%">
                <span class="linebar__text">honesty</span>
            </div>
        </div>
    </div>
</div>
