<div class="blog-list">
    <ul class="blog-list__items">
        <li class="blog-list__item">
            <a rel="prefetch" href="/blog/posts/sleep-better-with-active-gcp-services">
                <h2 class="blog-list__title">
                    sleep-better-with-active-gcp-services
                </h2>
                <div class="blog-list__date">
                    2023-03-11
                </div>
            </a>
        </li>
        <li class="blog-list__item">
            <a rel="prefetch" href="/blog/posts/have-a-basic-structure">
                <h2 class="blog-list__title">
                    have a basic structure
                </h2>
                <div class="blog-list__date">
                    2021-12-08
                </div>
            </a>
        </li>
        <li class="blog-list__item">
            <a rel="prefetch" href="/blog/posts/how-it-started">
                <h2 class="blog-list__title">
                    how it started
                </h2>
                <div class="blog-list__date">
                    2021-10-13
                </div>
            </a>
        </li>
    </ul>
</div>
