<div class="py-4 flex flex-col text-center text-white">
    <ul class="posts">
        <li class="my-4">
            <a rel="prefetch" href="/blog/posts/sleep-better-with-active-gcp-services">
                <h2 class="text-xl">
                    sleep-better-with-active-gcp-services
                </h2>
                <div class="date">
                    2023-03-11
                </div>
            </a>
        </li>
        <li class="my-4">
            <a rel="prefetch" href="/blog/posts/have-a-basic-structure">
                <h2 class="text-xl">
                    have a basic structure
                </h2>
                <div class="date">
                    2021-12-08
                </div>
            </a>
        </li>
        <li class="my-4">
            <a rel="prefetch" href="/blog/posts/how-it-started">
                <h2 class="text-xl">
                    how it started
                </h2>
                <div class="date">
                    2021-10-13
                </div>
            </a>
        </li>
    </ul>
</div>
